{% extends "base.html" %}
{% load static %}

{% block title %}
Cancellation and Refund Policy
{% endblock title %}

{% block content %}
<div class="container" style="margin-top: 160px;">
    <div class= 'compalinace-page'>
        <div class= 'header-conatiner'>
            <p class= 'header-text'>Kuldeep Saini</p>
        </div>
        <div class='compalinace-content'>
            <div class='content-container'>
                <p class='content-head'>Cancellation &amp; Refund Policy</p>
                <div class='content-seprater'></div>
                <p class='updated-date'>Last updated on Aug 27th 2024</p>
                <p class='content-text'>No cancellations &amp; Refunds are entertained</p>
            </div>
            </div>
    </div>
</div>
{% endblock content %}
